<div class="col-md-12 col-sm-12">
  <% 64.times do |i| %>
    <%= "<br/>".html_safe if i%8 == 0 %>
    <div class="btn btn-outline-success btn-sq" id="sq_<%= i %>" style="margin-left: 10px; margin-right: 10px;"><%= "PIKA".split(//)[rand(0..3)] %></div>
  <% end %>
</div>

<div class="container mt-5">
  <span style="display: none;" id="num1"><span class="btn btn-outline-success"><b>1</b></span></span>
  <span style="display: none;" id="num2"><span class="btn btn-outline-success"><b>0</b></span></span>
  <span style="display: none;" id="num3"><span class="btn btn-outline-success"><b>1</b></span></span>
  <span style="display: none;" id="num4"><span class="btn btn-outline-success"><b>0</b></span></span>
  <span style="display: none;" id="num6"><span class="btn btn-outline-success"><b>1</b></span></span>
  <span style="display: none;" id="num7"><span class="btn btn-outline-success"><b>7</b></span></span>
  <div style="display: none;" id="num5"><div class="hint">You can guess the rest.. or continue...</div></div>
  <div style="display: none;" id="num8"><div class="hint">Done! Use this code to unlock...</div></div>
</div>

<script type="text/javascript">
  var prev = null;
  var score = 0;
  var interval = 1000;

  setInterval(function(){
    clearBtn(prev);
    prev = getRandom(0,63);
    markBtn(prev);
  }, 1550);

  $(".btn-sq").click(function(){
    if($(this).hasClass("btn-success")){
      score += 1;
      unmaskEntity(score);
    }
  });
</script>
